body, html {
    margin: 0;
    padding: 0;
}

.el-aside {
    /*height: 100vh;*/
    transition: width .28s;
    width: 226px !important;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 6px 0 rgb(144 142 142 / 13%)
}

.el-header {
    height: 64px;
    background-color: #f5f1f1;
}

.el-container {
    min-height: 100vh;
    transition: margin-left .28s;
    margin-left: 113px;
    position: relative;
    background-color: #fdfafa;
}

.el-main {
    background-color: #fdfafa;
}

.el-card {
    border-radius: 15px;
}

/*

/manage-base-info/area
/manage-base-info/location
/manage-base-info/location-view
/manage-base-info/goods
/manage-base-info/goods-type
/manage-business/goods-owner
/manage-business/task-picking
/manage-storage/list
/manage-storage/list-task
/manage-storage/storage-lose-profit
/manage-storage/latest-storage
/manage-storage-in/list-in/list
/manage-storage-in/list-in/task-receive
/manage-storage-in/list-in/task-add
/manage-storage-out/list-out
/manage-storage-out/task-picking
/manage-storage-out/manage-task-transfer

*/
